html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#score {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    font-weight: 900;
}

#openModalBtn {
    position: absolute;
     top: 40px;
    right: 120px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    background: rgb(13, 0, 255);
    color: white;
    border-radius: 10px;
}

@keyframes wave {
    0% {
        transform: translateY(0) translateX(-50%) rotate(0);
    }

    25% {
        transform: translateY(-150px) translateX(50%) rotate(10deg);
    }

    50% {
        transform: translateY(0) translateX(-50%) rotate(0);
    }

    75% {
        transform: translateY(-50px) translateX(50%) rotate(5deg);
    }

    100% {
        transform: translateY(0) translateX(-50%) rotate(0);
    }
}

@keyframes verticalMovement {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-150px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#combo {
    position: absolute;
    display: none;
    bottom: 0;
    right: 230px;
    font-size: 2em;
    font-weight: 900;
    color: rgb(3, 149, 3);
    animation: wave 4s ease-in-out forwards, verticalMovement 4s ease-in-out forwards, fadeOut 3s ease-in-out 3s forwards;
}



#introduction {
    width: 200px;
    height: 150px;
    position: absolute;
    font-weight: 600;
    font-size: 0.8em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: opacity 2s;
}

#restart {
    width: 320px;
    height: 320px;
    position: absolute;
    border-radius: 8px;
    color: white;
    background-color: rgb(23, 133, 145);
    border: none;
    font-weight: 700;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    cursor: pointer;
}

#perfect {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}

#youtube,
#youtube-card {
    display: none;
}

@media (min-height: 425px) {

    /** Youtube logo by https://codepen.io/alvaromontoro */
    #youtube {
        z-index: 2;
        display: block;
        width: 100px;
        height: 70px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: red;
        border-radius: 50% / 11%;
        transform: scale(0.8);
        transition: transform 0.5s;
    }

    #youtube:hover,
    #youtube:focus {
        transform: scale(0.9);
    }

    #youtube::before {
        content: "";
        display: block;
        position: absolute;
        top: 7.5%;
        left: -6%;
        width: 112%;
        height: 85%;
        background: red;
        border-radius: 9% / 50%;
    }

    #youtube::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: 40px;
        width: 45px;
        height: 30px;
        border: 15px solid transparent;
        box-sizing: border-box;
        border-left: 30px solid white;
    }

    #youtube span {
        font-size: 0;
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    #youtube:hover+#youtube-card {
        display: block;
        position: absolute;
        bottom: 12px;
        left: 10px;
        padding: 25px 25px 25px 130px;
        width: 300px;
        background-color: white;
    }
}




/* надписи */

body {
    background: navajowhite;
    background-size: cover;
    font-family: Play;
}

a {
    color: mediumseagreen;
}

.c1 {
    display: inline-block;
}

.c2 {
    display: inline-block;
}

.c3 {
    display: inline-block;
}

.c4 {
    display: inline-block;
}

h1 {
    font-size: 3.2rem;
    margin-top: 1%;
}

h1 .type {
    font-size: 1.5rem;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:
        typing 2s steps(25, end) forwards;
}

h1 .type2 {
    font-size: 1.5rem;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:
        typing 2s steps(25, end) forwards;
    animation-delay: 1s;
}

h1 .type3 {
    font-size: 1.5rem;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:
        typing 2s steps(25, end) forwards;
    animation-delay: 2s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: orange;
    }
}



.drawWay {
    display: none;
}

@media screen and (max-width: 925px ) {
    .drawWay {
            display: block;
            position: absolute;
            bottom: 10px;
            border: none;
            background: purple;
            opacity: 0.8;
            border-radius: 4px;
            color: #fff;
            font-size: 14px;
            padding: 10px;
        }
}

.btn-flags {
    border: none;
    background: rgb(225, 225, 199);
    border-radius: 10px;
}




